{{> head}}

{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>About section</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum corporis excepturi rerum eveniet dolorum
            maiores quo repellendus animi pariatur laborum, suscipit soluta iste quibusdam doloribus? Voluptatum itaque
            doloremque ad enim.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/koala.jpg" alt="" class="img-thumbnail">
    </div>


</div>

{{> footer}}